POSTGRES_DB=freshflow
POSTGRES_USER=freshflow
POSTGRES_PASSWORD=change-me-local-only
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=freshflow
RABBITMQ_DEFAULT_PASS=change-me-rabbitmq-local-only
RABBITMQ_DEFAULT_VHOST=/freshflow
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
